<form method="post" action="{{ path('app_maison_delete', {'id': maison.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ maison.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
