<form method="post" action="{{ path('app_immeuble_delete', {'id': immeuble.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ immeuble.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
