{% extends 'base.html.twig' %}

{% block title %}Editer Localite{% endblock %}

{% block body %}
    <h1>Editer Localite</h1>

    {{ include('localite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_localite_index') }}" class="link-info">revoir la liste</a>

    {{ include('localite/_delete_form.html.twig') }}
{% endblock %}
